// Place all the styles related to the Diagnoses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-image: url('flower-background.png'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
}
.text-creating{
    font-family: 'Mansalva', cursive;
}
.text-Lets_making{
    font-family: 'Mansalva', cursive;
}